In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn import linear_model

In [5]:
df=pd.read_csv("user.csv")
df

   user  orders  age   amount
0  2000    4500   35   450000
1  2865    5705   32   713125
2  3175    6475   30   971250
3  3500    7750   28  1240000
4  4200    9257   26  1943970
5  5000   13450   24  3497000

In [7]:
reg=linear_model.LinearRegression()
reg.fit(df[['user','orders','age']],df.amount)

LinearRegression()

In [8]:
print(reg.predict([[6000,22000,22]]))

[6907563.33074529]

C:\Users\KA PATEL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [9]:
print(reg.coef_)

[   289.54252888    390.34830591 114290.98351105]